:root {
  --green-color: rgb(60,68,56);
  --grey-color: rgb(26, 30, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poiret One', sans-serif;
}

body {
  background-color: var(--green-color);
  color: white;
}

/* header */
.header {
  width: 100%;
  height: 10vh; /* 20% of the viewport height */
  background-color: var(--green-color);
  color: white;
  font-size: clamp(2px, 5vh, 30px);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the title */
  align-items: center; /* Vertically center the title */
  top: 0;
  left: 0;
}

/* content */
.games_container {
  padding: 20px;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
}

.game {
  border-top: 2px solid var(--green-color);
  border-left: 2px solid var(--green-color);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.game:hover {
  border-color: white;
}

@media (hover: none) {
  .game:hover {
      border-color: inherit;
  }
  .game.selected_game:hover {
      border-color: white;
  }
}

.game.selected_game {
  border-color: white !important;
}

.game.selected_game:hover {
  border-color: white;
}


.game_title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: clamp(2px, 5vh, 30px);
}

.game_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: var(--grey-color);
  color: white;
  border: 2px solid var(--grey-color);
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 100%; /* The button will take 80% of the container width */
  /*max-width: 200px; /* But will never exceed 200px */
  height: auto; /* Height adjusts automatically */
  padding: 10px;
  transition: all 0.3s ease;
}

.game_button:hover {
  color: white; /* IF THIS STAYS WHITE -> DELETE + DELETE game_button transition */
}

.game_button img {
  width: 100%; /* The image takes up the full width of the button */
  height: auto; /* Maintain aspect ratio */
  max-width: 100px; /* Limit the maximum size */
}

.game_content {
  margin-left: 10px;
}

.icon_image {
  width: 25px;
  height: 25px;
}

.birthday_input {
  border: none;
  background-color: var(--grey-color);
  color: white;
  font-size: 1em;
  border-bottom: 1px solid white;
}
.birthday_input:focus {
  outline:none;
}

.hidden {
  display: none;
}

/* footer */
.footer {
  width: 100%;
  height: 1vh; /* 10% of the viewport height */
  background-color: var(--green-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
}